<a href="https://colab.research.google.com/github/RomanDudnik/CountingSort/blob/main/DR9Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [18]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [8]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
df.shape

(17000, 9)

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
'''
Задача №61. Решение в группах
1. Определить какое максимальное и минимальное
значение median_house_value
2. Показать максимальное median_house_value, где
median_income = 3.1250
3. Узнать какая максимальная population в зоне
минимального значения median_house_value
'''

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df[df['median_income'] < 2] [['median_house_value','median_income']]

       median_house_value  median_income
0                 66900.0         1.4936
1                 80100.0         1.8200
2                 85700.0         1.6509
4                 65500.0         1.9250
7                 48500.0         1.7083
...                   ...            ...
16984             70000.0         1.8242
16989             58100.0         1.6528
16990             78300.0         1.7038
16994             76100.0         1.9417
16998             85800.0         1.9797

[2005 rows x 2 columns]

In [ ]:
df.iloc[:, [0,3,5]]   # вывести определенные столбцы [строки, столбцы]

       longitude  total_rooms  population
0        -114.31       5612.0      1015.0
1        -114.47       7650.0      1129.0
2        -114.56        720.0       333.0
3        -114.57       1501.0       515.0
4        -114.57       1454.0       624.0
...          ...          ...         ...
16995    -124.26       2217.0       907.0
16996    -124.27       2349.0      1194.0
16997    -124.30       2677.0      1244.0
16998    -124.30       2672.0      1298.0
16999    -124.35       1820.0       806.0

[17000 rows x 3 columns]

In [ ]:
df.iloc[:, range(2)] # вывести интервал

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

In [ ]:
max(df['median_house_value'])

500001.0

In [ ]:
min(df['median_house_value'])

14999.0

In [ ]:
min(df['median_house_value']),max(df['median_house_value'])

(14999.0, 500001.0)

In [ ]:
df[df['median_income']==3.125]['median_house_value'].max()

380400.0

In [38]:
df[df['median_house_value']==df['median_house_value'].min()]['population'].max()

628.0

In [ ]:
df2 = df[(df['median_house_value']==df['median_house_value'].min())]
df2[df2['population']==df2['population'].max()]                       # посмотреть всю строку с результатом

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
3226,-117.86,34.24,52.0,803.0,267.0,628.0,225.0,4.1932,14999.0

In [ ]:
'''
Задание
Задача 40: Работать с файлом california_housing_train.csv, который находится в папке
sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)
'''

In [42]:
df[df['population']<501]['median_house_value'].agg(['mean'])

mean    206799.951402
Name: median_house_value, dtype: float64

In [41]:
df[df['population']<501]['median_house_value'].mean()

206799.95140186916

In [ ]:
'''Задача 42: Узнать какая максимальная households в зоне минимального значения population'''

In [37]:
df[df['population']==df['population'].min()]['households'].max()

4.0

In [43]:
df[df['population']==df['population'].min()]['households'].agg(['max'])

max    4.0
Name: households, dtype: float64